name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.12]

    steps:
    - uses: actions/checkout@v4
    - name: Setup virtual display
      run: |
        sudo apt-get update
        sudo apt-get install -y xvfb build-essential python3-dev
        sudo apt-get update
        sudo apt-get install -y language-pack-zh-hans
        sudo locale-gen zh_CN.UTF-8
        export DISPLAY=:99.0
        Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run citest
      timeout-minutes: 20
      env:
        CI: true
        DISPLAY: ':99.0'
        LANG: zh_CN.UTF-8
        LC_ALL: zh_CN.UTF-8